h1 {color: blue;
text-align: center;
}
p{color:#000000}
#imagem-01 {width: 90%
}
p{text-align: justify;}

#imagem-02 {width: 90%;
}

#imagem-03 {width: 90%;
}

h3 {color: blue;
text-align: center;
}